@use "../../styles/theme" as *;

.modalWrapper {
  width:200%;
  height:200vh;
  display:grid;
  place-items:center;
  background:#27292d;
  .modal {
    transition: all 0.5s ease-out;
    background:$gray-200;
    width:50%;
    min-height:70%;
    margin:0 auto;
    overflow:hidden;
    border-radius:0.2em;
    font-size:1rem;
    display:grid;
    grid-template-columns: minmax(100px, 25%) 1fr;
   
  }
}


.modalSidebar {
  background: #F6F6F6;

  .sidebarItem {
    color: $gray-600;
    padding: 1em 0em 1em 0.8em;
    display: flex;
    font-weight:600;
    align-items: center;
    gap: 0.4em;
    font-size:0.9em;
    border-bottom: 1px solid #E1DDDD;
    &.selected {
        background: #e9e6fc;
        color: #766ab8;
    }

    svg {
      font-size:1.3em; 
    }
  }
}

.modalTextContent {
  .inner {
    width: 80%;
    margin: 0 auto;
    padding:2rem 0rem;
  }
  header {
    text-align:left;
    h4 {
      font-size:1.4em;
      font-weight: normal;
      color: $gray-700;
    }
    p{
      font-size:1em;
      color: $gray-600;
      width: 80%;
      margin-top:0.4em;
    }
  }
}




@media only screen and (max-width: 1200px) {
  .modalWrapper .modal {
    font-size:1rem;
    width:60%;
  }
}
@media only screen and (max-width: 1000px) {
  .modalWrapper .modal {
    font-size:0.8rem;
    width: 75%;
  }
}
@media only screen and (max-width: 640px) {
  .modalWrapper .modal {
    grid-template-rows: auto 1fr;
    width:80%;
    grid-template-columns: none;
    .modalSidebar {
      display:flex;
      align-items: center;
      a {
        flex-basis: 100%;
        div { 
          padding: 1em 0.8em;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .modalWrapper .modal {
    width: 90%;
    font-size:0.6em;
  }
}
@media only screen and (max-width: 400px) {
  .modalWrapper .modal .modalSidebar {
    display:none;
  }
}