/* -------------------- Purple background -------------------- */
.app-background {
    display: flex; justify-content: center;
    background-color: rgb(38, 0, 38);
}

/* -------------------- Center content -------------------- */
.app-main {
    height: fit-content; width: 100%; max-width: 1460px;
}
