.LandingPage {
    background-color: black;
    margin:0;
    padding: 0;
    background-size: 100%
}

.home-1 {
    display: flex; align-items: center; justify-content: center;
    height: 700px;

    position: relative;
    cursor: pointer;
}
#videoBG {
    height: 133%;
    flex-shrink: 0;
    opacity: 0.2;

   height: 100vh;
     width: 100vw;
     object-fit: cover;

     left: 0;
     right: 0;
     top: 0;
     bottom: 0;


}

/* -------------------- Big text and button -------------------- */
.home-1 > div {
    position: absolute; display: flex; flex-direction: column; align-items: center;
    height: fit-content;
    width: fit-content;
    margin-top: -40px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .home-1 > div {
        top: 200px; left: 275px;
    }
}
.home-1 > div > p {
    font-size: 85px; font-family: 'Poppins', Arial; -webkit-text-stroke: 3px;
    line-height: 134%;
    color: white;
}
.home-1 > div > button {
    padding: 14px 60px 14px 60px;
    margin-top: 50px;
    font-size: 36px; -webkit-text-stroke: 0.5px;
    border: none; border-radius: 100px;
}

/* --------------------------- Waves --------------------------- */
.svg-wrapper{
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: white;
    margin-bottom: -20px;
}
.svg-wrapper svg {
    position: absolute;
    left: 0;
    top: -60px;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.svg-wrapper path {
    fill: white;
}

button {
    cursor: pointer;
    font-family: 'Lato';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button::-moz-focus-inner {
    border: 0;
}
.e-button {
    width: fit-content;
    padding: 24px 40px 24px 40px;
    margin: 30px 0 10px 0;
    border: 3px solid;
    border-radius: 20px;
    background-color: rgb(80, 0, 80);
    font-size: 30px; font-family: 'Lato', Arial; -webkit-text-stroke: 0.1px;
    color: white;
    -webkit-transition-duration: 0.45s; transition-duration: 0.45s;
}
.e-button:hover {
    color: rgb(100, 0, 100);
    background-color: white;
}



