@use "../../../styles/theme" as *;
.largeHeading {
  color: $gray-700;
  margin-bottom:1.5rem;
  font-size:1.2rem;
  text-align:left;
  text-align: center;
}
.createProfileHeader {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top:1.6em;
  h4 {
    font-size:1.4em;
    color: $gray-700;
    text-align:left;
  }
  p {
    font-size: 0.9em;
    color: $gray-600;
  }
}
.createProfileForm {
  margin-top:2rem;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  img {
    background: $gray-400;
    border-radius:0.4em;
    min-height:200px;
    width:100%;
    outline:None;
    border: 0px;
    margin-top:1em;
    margin-bottom:0.4em;
  }
  
  input[type=button]::file-selector-button {
    background: #aea1f7;
    border-style: none;
    font-family: 'Roboto',sans-serif;
    border-radius:0.2em;
    padding:0.6em 2em;
    font-weight: bold;
    color: $gray-200;
  }

}
.formContent {
  margin-top:2em;
  label {
    &:not(:first-child) {
      margin-top:1.4em;
    }
  }
}
.createProfileForm{
  label {
    color:$gray-600;
    font-size:0.8em;
    text-align:left;
    display:block;
    margin-bottom:0.4em;

  }
  input, textarea {
    border:1px solid $gray-500;
    width:96%;
    padding:0.8em;
    background:inherit;
    outline:none;
    border-radius:0.2em;
    transition:border 0.8s ease-in-out;
    &:hover, &:focus {
     border: 2px solid #aea1f7;
    }
  }
  textarea {
    min-height:140px;
    resize:none;
    font-family:'Roboto',sans-serif;
    color: $gray-600;
  }
  button {
    outline:none;
    border-style:none;
    border-radius:0.2em;
    background:#c4a0a0;
    color: white;
    padding: 0.8em 2em;
    margin-top:1.2em;
    width: 100%;
    font-weight: bold;
    margin-bottom:4em;
  }
}

.platformContent {
  text-align: left;
  .platformItem {
    background: $primary-400;
    color:$primary-600;
    min-height:4em;
    cursor: pointer;
    border-radius:0.4em;
    min-height:70px;
    padding:1em 0.8em 1em 2em;
    display: flex;
    align-items: center;
    gap:1em;
    font-size:0.9em;
    p {
      width: 80%;
    }
    &:not(:first-child) {
      margin-top:0.8em;
    }
    svg {
      font-size:1.4em;
    }
    &.selected, &:hover, &:focus {
      background:#aea1f7;
      color:white;
      font-weight: bold;
    }
  }
}
