$primary-400: #FFF4D9;
$primary-500: #ffdb4d;
$primary-600: #B08618;

$gray-200: #FFFCF8;
$gray-300: #FAFAFA;
$gray-400: #EDEDED;
$gray-500: #999999;
$gray-600: #666666;
$gray-700: #333333;


// Layout mixins

@mixin layoutGrid {
  display:grid;
  grid-template-columns: repeat(3fr,2fr);
  align-items: start;
  grid-gap:60px
  //height:100%;
}


.largeHeading {
  color: $gray-700;
  margin-bottom:1.5rem;
  font-size:1.2rem;
  text-align:left;
}
.card {
    display:flex;
    flex-direction: column;
    flex-basis:350px;
    font-size:1rem;
    button {
      outline:none;
      border-style:none;
      border-radius:0.2em;
      background: $primary-500;
      color: $gray-700;
      padding: 1em 2em;
      font-weight: bold;
      font-size:0.9em;
      width: 100%;
      margin-top:1.2em;
    }
  
    .cardImage {
      background-size: 97px 97px;

      background-position: center;
      background-repeat: no-repeat;
      min-height:200px;
      border-radius:0.2em 0.2em 0em 0em;
      width:100%;
    }
    .cardContent {
      background: $gray-200;
      border-radius:0em 0em 0.2em 0.2em;
  
      .bio {
        text-align:left;
        font-size:0.8em;
        color: $gray-600;
        margin-top:0.3em;
      }
  
    }
  }
  
  .cardContextText {
    padding:1em 1em 0em 1em;
  }
  .contentHeader{
    display:flex;
    align-items:baseline;
    justify-content: space-between;
    
    .textBox {
      h4 {
        color:$gray-700;
        font-size:1.2em;
        font-family: 'Roboto',sans-serif;
      }
      p {
        color: $gray-700;
        font-size:1em;
      }
    }
  }
  
  .textBox {
    display:flex;
    align-items: baseline;
    gap:0.4em;
  
  }
  .userInfo {
    margin-top:0.4em;
    margin-bottom:0.7em;
    display: flex;
    flex-wrap: wrap;
    gap:0.8em;
    align-items: center;
    .textBox {
      font-size:0.8em;
      align-items: center;
      font-weight: bold;
      color: $gray-700;
  
      .accentText {
        color: #806af7;
      }
      svg {
        font-size:1.2em;
      }
    }
  }
  
  
  .userConnection {
    svg {
      background: $primary-500;
      color: #C18E0E;
      font-size:1.8em;
      padding: 0.2em;
      border-radius: 0.2em;
    
    }
  }
  
  .flexSection {
    margin-top: 0.5em;
    margin-bottom:1.2em;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.6em;
  
  }
  
  .tag {
    background: #ededed;
    border-radius: 0.2em;
    padding: 0.4em 0.6em;
    color: #333;
    display: inline-block;
    font-size:0.8em;
  }
  
  .interestsSection {
    margin-top: 0.8em;
    .flexSection {
      margin-bottom: 0.4em;
    }
    .interestTag {
      background: none;
      padding-right: 0.8em;
      font-size:0.8em;
      position: relative;
      &:not(:last-child) {
        &::before {
          content: "";
          position:absolute;
          height: 100%;
          width:5px;
          left: 0%;
          border-right: 2px solid $gray-500;
          width: 100%; 
        }
      }
    }
    h4 {
      font-size:0.8em;
      color: $gray-700;
      font-family: 'Roboto',sans-serif;
      text-align: left;
    }
  }
  
  .visitProfileButton {
    color: $gray-700;
    cursor: pointer;
  }
  
  
  
  @media only screen and (max-width: 915px) {
    .card {
      flex-basis: 300px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .card {
      flex-basis:inherit;
      flex-direction: row;
    }
  }
  @media only screen and (max-width: 530px) {
    .card .cardImage {
      flex: 0;
    }
  }